.fa-solid,
.fas {
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
}

/* header  */
.options {
  position: absolute;
  top: 32px;
  right: -32px;
  z-index: 1;
  width: 170px;
  list-style: none;
  padding: 10px 0px;
  margin: 0;
  box-shadow: 0px 0px 5px 0px #ccc;
  background-color: #fff;
  border-radius: 10px;
}
.options::after {
  content: "";
  position: absolute;
  top: -9px;
  right: 28px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  width: 17px;
  height: 17px;
  background-color: #ffffff;
  transform: rotate(-45deg);
}
.options a {
  line-height: 46px;
  display: block;
  color: #000;
  font-weight: 700;
  text-decoration: none;
  padding: 0px 10px;
}
.options a:hover {
  background: #f3f2f2;
}
.options i {
  font-size: 18px;
  margin-right: 10px;
}
.custom-dropdown {
  position: relative;
}
/* input search  */
.container1 {
  max-width: 900px;
  margin: 10px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.border-right {
  border-right: 1px solid rgb(204, 204, 204) !important;
}
.input-group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 6px;
  border-radius: 10px;
  text-align: end;
  box-shadow: 0px 0px 5px 0px #ccc;
}
.input-group-inner {
  display: flex;
  align-items: center;
}

.input-group-inner input {
  width: 100%;
  margin-right: 5px;
  padding: 5px 10px;
  border: none;
  background: none;
  outline: none;
}
.input-group-inner input::placeholder {
  font-size: 18px;
  font-weight: 400;
}

.input-group button {
  padding: 10px 15px;
  background-color: #a725a7;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.input-group button:hover {
  background-color: #7a177a;
}

/* job feed  */

.job-feed {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.job-feed h3 {
  font-size: 22px;
  font-weight: 600;
  border-bottom: 4px solid #a725a7;
  width: 105px;
  margin: 0;
  padding: 8px;
}
.jobfeed-inner {
  border: 1px solid #a725a730;
  border-radius: 10px;
  padding: 25px;
}
.jobfeed-head h2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
}
.jobfeed-head p {
  font-size: 17px;
  margin: 0px;
}

.jobfeed-salary p {
  font-size: 13px;
  margin: 10px;
  font-weight: 500;
  background-color: #a725a730;
  padding: 4px 10px;
  width: auto;
}
.jobfeed-inner a {
  background-color: #a725a7;
  color: #fff !important;
  padding: 10px 20px;
  border-radius: 10px;
}

button.btn.btn-primary {
  width: auto;
  background-color: #a725a7;
  border: none;
  font-size: 15px;
}

/* job apply  */
.jobapply-inner {
  border: 1px solid #a725a730;
  border-radius: 10px;
  padding: 25px;
  height: 535px;
}
.jobapply-head h2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
}
.jobapply-head p {
  font-size: 17px;
  margin: 0px;
}

.jobapply-salary p {
  font-size: 13px;
  margin: 10px;
  font-weight: 500;
  background-color: #a725a730;
  padding: 4px 10px;
  width: auto;
}
.jobapply-inner a {
  background-color: #a725a7;
  color: #fff !important;
  padding: 10px 20px;
  border-radius: 10px;
}

/* Login.css */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.login-form {
  width: 300px;
  padding: 20px;
  border-radius: 5px;
}

.login-form input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 16px;
  outline: none;
}

.login-form button {
  background-color: #a725a7;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  width: 100%;
}

.login-form button:hover {
  background-color: #7a177a;
}

.sticky {
  position: sticky;
  top: 0;
}
