@media screen and (max-width: 576px) {
  .mobileDisNone {
    display: none;
  }
  .border-right {
    border-right: none !important;
  }
  .input-group-inner {
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
  }
  .jobfeed-inner {
    padding: 12px;
  }
  .job-feed h3 {
    width: 105px;
    font-size: 20px;
  }
  .input-group button {
    width: 100%;
  }
  .profile-main {
    width: 90%;
  }
  .profile-inner h1 {
    font-size: 24px;
  }
  .profile-inner h3 {
    font-size: 20px;
  }
}
@media screen and (min-width: 577px) and (max-width: 766px) {
  .mobileDisNone {
    display: none;
  }
  .job-feed h3 {
    width: 105px;
  }
  .profile-main {
    width: 90%;
  }
}
@media screen and (min-width: 767px) and (max-width: 992px) {
  .mobileDisNone {
    display: none;
  }
  .profile-main {
    width: 90%;
  }
}
@media screen and (min-width: 993px) {
  .menuBar {
    display: none;
  }
}
